.footer{
  background-color: #181818;

  .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    padding: 60px 15px;
    gap: 30px;

    @media(min-width: 992px){
      grid-template-columns: 20% 20% 20% 15% 10%;
      gap: 0px;
      padding: 60px 0;
    }

    .coluna{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .titulo-coluna{
        font-size: 24px;
        font-weight: 700;
        color: #D9D9D9;
        padding-bottom: 15px;
      }

      .informacoes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .info{
          font-size: 14px;
          font-weight: 400;
          color: #D9D9D9;
        }

        .info-link{
          font-size: 14px;
          font-weight: 400;
          color: #D9D9D9;
          cursor: pointer;

          &:hover{
            color: #FFEDA8;
          }
        }
      }

      img{
        max-height: 70px;
      }
    }
  }

  .infos-empresa{
    border-top: 1px solid #DDDDDD;
    padding: 20px 0;

    .texto-info{
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      color: #D9D9D9;
    }
  }
}