.marcas-autorizadas {
  background-color: #181818;
  padding: 60px 0;
  display: grid;
  grid-template-columns: 35% 55%;
  justify-content: space-between;
  align-items: center;

  .header-marcas-autorizadas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; /* Torna o contêiner da linha e do ponto relativo */

    .ponto {
      width: 10px;
      height: 10px;
      background-color: #FFCD00;
      box-shadow: 0px 0px 10px 2px #ffcd00;
      border-radius: 50%;
      position: absolute;  /* Faz o ponto se posicionar sobre a linha */
      top: 0%;  /* Posiciona o ponto verticalmente no centro da linha */
      left: 0%;  /* Inicia o ponto na posição inicial da linha */
      transform: translateY(-50%);  /* Ajusta a posição para centralizar verticalmente */
      z-index: 1;
      
      /* Animações combinadas */
      animation: moverPontoMarcasAutorizadas 10s infinite linear, pulsarPontoMarcasAutorizadas 3s infinite alternate; 
    }

    > span.linha {
      height: 1px;
      background-color: #D9D9D9;
      width: 100%;
      position: relative;  /* Necessário para que o ponto seja posicionado em relação a esta linha */
    }

    .titulo-marcas-autorizadas {
      padding-left: 80px;
      color: #d9d9d9;
      font-size: 32px;
      font-weight: 700;
    }

    .subtitulo-marcas-autorizadas {
      color: #D9D9D9;
      font-size: 14px;
      font-weight: 400;
      padding-left: 80px;
    }
  }

  .carrossel-marcas {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 60px;

    .marca {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .nome-marca {
        font-size: 16px;
        font-weight: 700;
        color: #D9D9D9;
      }
    }
  }
}

/* Animação para mover o ponto ao longo da linha */
@keyframes moverPontoMarcasAutorizadas {
  0% {
    left: 0%;  /* Começa à esquerda */
  }
  100% {
    left: 100%;  /* Vai até a extremidade direita */
  }
}

/* Animação de pulsação do ponto */
@keyframes pulsarPontoMarcasAutorizadas {
  0% {
    transform: translateY(-50%) scale(1);  /* Tamanho original */
  }
  50% {
    transform: translateY(-50%) scale(1.5);  /* Aumenta o ponto */
  }
  100% {
    transform: translateY(-50%) scale(1);  /* Retorna ao tamanho original */
  }
}
